<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <contentorconfig translate="label" module="Contentor_LocalizationApi">
            <label>Contentor API</label>
            <sort_order>99999999</sort_order>
        </contentorconfig>
    </tabs>
    <sections>
    
	<contentor_options translate="label" module="Contentor_LocalizationApi">
		<label>Contentor API Config Options</label>
		<tab>contentorconfig</tab>
		<sort_order>1000</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>0</show_in_website>
		<show_in_store>0</show_in_store>

		<groups>
			<contentor_token translate="label" module="Contentor_LocalizationApi">
				<label>API Token</label>
				<frontend_type>text</frontend_type>
				<sort_order>10</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>0</show_in_website>
				<show_in_store>0</show_in_store>
				<comment><![CDATA[Token can be found in Contentor Customer Portal: <a href="https://portal.contentor.com/" target="_blank">https://portal.contentor.com/</a>]]></comment>

				<fields>
					<contentor_token_input>
						<label>Contentor Token: </label>
						<comment>Your token from the Customer portal.</comment>
						<frontend_type>text</frontend_type>
						<sort_order>10</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>0</show_in_website>
						<show_in_store>0</show_in_store>
					</contentor_token_input>
					
					<contentor_token_check translate="label">
						<label>Check Token: </label>
						<comment>Save Config with Token before check.</comment>
                		<frontend_type>button</frontend_type>
                		<frontend_model>Contentor_LocalizationApi/adminhtml_button</frontend_model>
                		<sort_order>20</sort_order>
                		<show_in_default>1</show_in_default>
                		<show_in_website>0</show_in_website>
                		<show_in_store>0</show_in_store>
            		</contentor_token_check>
				</fields>
			</contentor_token>
			
			<contentor_automation translate="label" module="Contentor_LocalizationApi">
				<label>API Automation Settings</label>
				<frontend_type>text</frontend_type>
				<sort_order>15</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>0</show_in_website>
				<show_in_store>0</show_in_store>

				<fields>
					<contentor_import_status>
						<label>Import status: </label>
						<comment>Product status on import. If enable, status will change to enabled. If disable status won't change. Note that status is set on Website, so product will be enbaled on all store views on that Website.</comment>
						<frontend_type>select</frontend_type>
						<sort_order>10</sort_order>
						<source_model>adminhtml/system_config_source_enabledisable</source_model>
						<show_in_default>1</show_in_default>
						<show_in_website>0</show_in_website>
						<show_in_store>0</show_in_store>
					</contentor_import_status>
					
					<contentor_autoexport>
						<label>Autoexport: </label>
						<comment>Enable to automatically send product with attribute contentor_localize_me.</comment>
						<frontend_type>select</frontend_type>
						<sort_order>20</sort_order>
						<source_model>adminhtml/system_config_source_enabledisable</source_model>
						<show_in_default>1</show_in_default>
						<show_in_website>0</show_in_website>
						<show_in_store>0</show_in_store>
					</contentor_autoexport>
				</fields>
			</contentor_automation>

			<contentor_source translate="label" module="Contentor_LocalizationApi">
				<label>API Source Language</label>
				<frontend_type>text</frontend_type>
				<sort_order>18</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>0</show_in_website>
				<show_in_store>0</show_in_store>

				<fields>
					<contentor_source_input>
						<label>Source language: </label>
						<comment>Default source for localization, these can be changed per product later on.</comment>
						<frontend_type>select</frontend_type>
						<source_model>Contentor_LocalizationApi/system_config_source_multiselect_languages</source_model>
						<sort_order>20</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>0</show_in_website>
						<show_in_store>0</show_in_store>
					</contentor_source_input>
				</fields>
			</contentor_source>

			<contentor_targets translate="label" module="Contentor_LocalizationApi">
				<label>API Target Store Views</label>
				<frontend_type>text</frontend_type>
				<sort_order>20</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>0</show_in_website>
				<show_in_store>0</show_in_store>

				<fields>
					<contentor_targets_input>
						<label>Target store views: </label>
						<comment>Default targets for localization, these can be changed per product later on.</comment>
						<frontend_type>multiselect</frontend_type>
						<source_model>Contentor_LocalizationApi/system_config_source_multiselect_stores</source_model>
						<sort_order>20</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>0</show_in_website>
						<show_in_store>0</show_in_store>
					</contentor_targets_input>
				</fields>
			</contentor_targets>
			
			<contentor_fields translate="label" module="Contentor_LocalizationApi">
				<label>API Included Fields</label>
				<frontend_type>text</frontend_type>
				<sort_order>30</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>0</show_in_website>
				<show_in_store>0</show_in_store>

				<fields>
					<contentor_fields_input translate="label">
  						<label>Included fields for product localization:</label>
						<comment>Note than only attribute types text or textarea are valid as localizable fields. Also the fields will appeare in this order for the writer.</comment>
    					<frontend_model>Contentor_LocalizationApi/adminhtml_fieldDetails</frontend_model>
    					<backend_model>Contentor_LocalizationApi/validation_fields</backend_model>
    					<sort_order>8</sort_order>
    					<show_in_default>1</show_in_default>
    					<show_in_website>0</show_in_website>
    					<show_in_store>0</show_in_store>
					</contentor_fields_input>

					<contentor_category_fields_input translate="label">
  						<label>Included fields for category localization:</label>
						<comment>Note than only attribute types text or textarea are valid as localizable fields. Also the fields will appeare in this order for the writer.</comment>
    					<frontend_model>Contentor_LocalizationApi/adminhtml_categoryFieldDetails</frontend_model>
    					<backend_model>Contentor_LocalizationApi/validation_fields</backend_model>
    					<sort_order>16</sort_order>
    					<show_in_default>1</show_in_default>
    					<show_in_website>0</show_in_website>
    					<show_in_store>0</show_in_store>
					</contentor_category_fields_input>
				</fields>
			</contentor_fields>
			
		</groups>			
	</contentor_options>
</sections>
</config>