<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <contentorconfig translate="label" module="Contentor_LocalizationApi">
            <label>Contentor API</label>
            <sort_order>99999999</sort_order>
        </contentorconfig>
    </tabs>
    
   <sections>
	<contentor_options translate="label" module="Contentor_LocalizationApi">
		<label>Contentor API Config Options</label>
		<tab>contentorconfig</tab>
		<sort_order>10</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>0</show_in_website>
		<show_in_store>0</show_in_store>

		<groups>
			<contentor_token translate="label" module="Contentor_LocalizationApi">
				<label>API Token</label>
				<frontend_type>text</frontend_type>
				<sort_order>10</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>0</show_in_website>
				<show_in_store>0</show_in_store>
				<comment><![CDATA[Read more about this extension at our developer site: <a href="http://developer.contentor.com/integrations/magento.html" target="_blank">http://developer.contentor.com/integrations/magento.html</a>]]></comment>

				<fields>
					<contentor_token_input>
						<label>Contentor Token: </label>
						<comment>Your token from the Customer portal.</comment>
						<frontend_type>text</frontend_type>
						<backend_model>Contentor_LocalizationApi/validation_token</backend_model>
						<sort_order>10</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>0</show_in_website>
						<show_in_store>0</show_in_store>
					</contentor_token_input>
				
					<contentor_token_check translate="label">
						<label>Check Token: </label>
						<comment>Verify token before save, invalid token will not be saved.</comment>
                		<frontend_type>button</frontend_type>
                		<frontend_model>Contentor_LocalizationApi/adminhtml_button</frontend_model>
                		<sort_order>20</sort_order>
                		<show_in_default>1</show_in_default>
                		<show_in_website>0</show_in_website>
                		<show_in_store>0</show_in_store>
            		</contentor_token_check>
				</fields>
			</contentor_token>
			
			<contentor_automation translate="label" module="Contentor_LocalizationApi">
				<label>API Automation Settings</label>
				<frontend_type>text</frontend_type>
				<sort_order>15</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>0</show_in_website>
				<show_in_store>0</show_in_store>

				<fields>
					<contentor_import_status>
						<label>Import status: </label>
						<comment>Product status on import. If enable, status will change to enabled. If disable status won't change. Note that status is set on Website, so product will be enbaled on all store views on that Website.</comment>
						<frontend_type>select</frontend_type>
						<sort_order>10</sort_order>
						<source_model>adminhtml/system_config_source_enabledisable</source_model>
						<show_in_default>1</show_in_default>
						<show_in_website>0</show_in_website>
						<show_in_store>0</show_in_store>
					</contentor_import_status>
					
					<contentor_autoexport>
						<label>Autoexport: </label>
						<comment>Enable to automatically send product with attribute contentor_localize_me.</comment>
						<frontend_type>select</frontend_type>
						<sort_order>20</sort_order>
						<source_model>adminhtml/system_config_source_enabledisable</source_model>
						<show_in_default>1</show_in_default>
						<show_in_website>0</show_in_website>
						<show_in_store>0</show_in_store>
					</contentor_autoexport>
					
					<contentor_autourlgenerate>
						<label>Generate url key: </label>
						<comment>Enable to automatically generate URL key based on name when received localized name attribute. NOTE: make sure your URL Key attribute are not set to global before using this feature.</comment>
						<frontend_type>select</frontend_type>
						<sort_order>30</sort_order>
						<source_model>adminhtml/system_config_source_enabledisable</source_model>
						<show_in_default>1</show_in_default>
						<show_in_website>0</show_in_website>
						<show_in_store>0</show_in_store>
					</contentor_autourlgenerate>
				</fields>
			</contentor_automation>

			<contentor_source translate="label" module="Contentor_LocalizationApi">
				<label>API Source Language</label>
				<frontend_type>text</frontend_type>
				<sort_order>18</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>0</show_in_website>
				<show_in_store>0</show_in_store>

				<fields>
					<contentor_source_input>
						<label>Source language: </label>
						<comment>Default source for localization, these can be changed per product later on.</comment>
						<frontend_type>select</frontend_type>
						<source_model>Contentor_LocalizationApi/system_config_source_multiselect_languages</source_model>
						<sort_order>20</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>0</show_in_website>
						<show_in_store>0</show_in_store>
					</contentor_source_input>
				</fields>
			</contentor_source>

			<contentor_targets translate="label" module="Contentor_LocalizationApi">
				<label>API Target Store Views</label>
				<frontend_type>text</frontend_type>
				<sort_order>20</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>0</show_in_website>
				<show_in_store>0</show_in_store>

				<fields>
					<contentor_targets_input>
						<label>Target store views: </label>
						<comment>Default targets for localization, these can be changed per product later on.</comment>
						<frontend_type>multiselect</frontend_type>
						<source_model>Contentor_LocalizationApi/system_config_source_multiselect_stores</source_model>
						<sort_order>20</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>0</show_in_website>
						<show_in_store>0</show_in_store>
					</contentor_targets_input>
				</fields>
			</contentor_targets>
			
			<contentor_fields translate="label" module="Contentor_LocalizationApi">
				<label>API Included Fields</label>
				<frontend_type>text</frontend_type>
				<sort_order>30</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>0</show_in_website>
				<show_in_store>0</show_in_store>

				<fields>
					<contentor_fields_input translate="label">
  						<label>Included fields for product localization:</label>
						<comment>Note than only attribute types text or textarea are valid as localizable fields. Also the fields will appeare in this order for the writer.</comment>
    					<frontend_model>Contentor_LocalizationApi/adminhtml_productFieldDetails</frontend_model>
    					<backend_model>Contentor_LocalizationApi/validation_fields</backend_model>
    					<sort_order>8</sort_order>
    					<show_in_default>1</show_in_default>
    					<show_in_website>0</show_in_website>
    					<show_in_store>0</show_in_store>
					</contentor_fields_input>

					<contentor_category_fields_input translate="label">
  						<label>Included fields for category localization:</label>
						<comment>Note than only attribute types text or textarea are valid as localizable fields. Also the fields will appeare in this order for the writer.</comment>
    					<frontend_model>Contentor_LocalizationApi/adminhtml_categoryFieldDetails</frontend_model>
    					<backend_model>Contentor_LocalizationApi/validation_fields</backend_model>
    					<sort_order>16</sort_order>
    					<show_in_default>1</show_in_default>
    					<show_in_website>0</show_in_website>
    					<show_in_store>0</show_in_store>
					</contentor_category_fields_input>
					
					<contentor_cmspage_fields_input translate="label">
  						<label>Included fields for CMS page localization:</label>
						<comment>Note than only attribute types text or textarea are valid as localizable fields. Also the fields will appeare in this order for the writer.</comment>
    					<frontend_model>Contentor_LocalizationApi/adminhtml_cmspageFieldDetails</frontend_model>
    					<backend_model>Contentor_LocalizationApi/validation_cmspagefields</backend_model>
    					<sort_order>24</sort_order>
    					<show_in_default>1</show_in_default>
    					<show_in_website>0</show_in_website>
    					<show_in_store>0</show_in_store>
					</contentor_cmspage_fields_input>
				</fields>
			</contentor_fields>
			
		</groups>			
	</contentor_options>
	
	<contentor_versioning translate="label" module="Contentor_LocalizationApi">
		<label>Contentor API Versioning</label>
		<tab>contentorconfig</tab>
		<sort_order>20</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>0</show_in_website>
		<show_in_store>0</show_in_store>

		<groups>
			<contentor_versioning_activation translate="label" module="Contentor_LocalizationApi">
				<label>Activate</label>
				<frontend_type>text</frontend_type>
				<sort_order>10</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>0</show_in_website>
				<show_in_store>0</show_in_store>
				<comment><![CDATA[If yout contract doesn't include princing for versioning, please contact Contentor at <a href="malto:info@contentor.com">info@contentor.com</a> or your company contact person direct.<br>Read mote about versioning at <a href="http://developer.contentor.com/api/content-requests/versioning.html">http://developer.contentor.com/api/content-requests/versioning.html</a>]]></comment>

				<fields>
					<contentor_versioning_active>
						<label>Activate versioning: </label>
						<comment>Send request as type update when sent before.</comment>
						<frontend_type>select</frontend_type>
						<sort_order>10</sort_order>
						<source_model>adminhtml/system_config_source_enabledisable</source_model>
						<sort_order>10</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>0</show_in_website>
						<show_in_store>0</show_in_store>
					</contentor_versioning_active>
				</fields>
			</contentor_versioning_activation>
			
			<contentor_versioning_sections translate="label" module="Contentor_LocalizationApi">
				<label>Sections</label>
				<frontend_type>text</frontend_type>
				<sort_order>20</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>0</show_in_website>
				<show_in_store>0</show_in_store>

            	<fields>
					<contentor_versioning_products>
            			<label>Activate for products: </label>
						<comment>Send request as type update on save.</comment>
						<frontend_type>select</frontend_type>
						<sort_order>10</sort_order>
						<source_model>adminhtml/system_config_source_enabledisable</source_model>
						<show_in_default>1</show_in_default>
						<show_in_website>0</show_in_website>
						<show_in_store>0</show_in_store>
					</contentor_versioning_products>

					<contentor_versioning_categories>
            			<label>Activate for categories: </label>
						<comment>Send request as type update on save.</comment>
						<frontend_type>select</frontend_type>
						<sort_order>20</sort_order>
						<source_model>adminhtml/system_config_source_enabledisable</source_model>
						<show_in_default>1</show_in_default>
						<show_in_website>0</show_in_website>
						<show_in_store>0</show_in_store>
					</contentor_versioning_categories>
					
					<contentor_versioning_cmspages>
            			<label>Activate for CMS pages: </label>
						<comment>Send request as type update on save.</comment>
						<frontend_type>select</frontend_type>
						<sort_order>30</sort_order>
						<source_model>adminhtml/system_config_source_enabledisable</source_model>
						<show_in_default>1</show_in_default>
						<show_in_website>0</show_in_website>
						<show_in_store>0</show_in_store>
					</contentor_versioning_cmspages>
				</fields>	
			</contentor_versioning_sections>
		</groups>	
	</contentor_versioning>
	
	
	<contentor_context translate="label" module="Contentor_LocalizationApi">
		<label>Contentor API Context and Hints</label>
		<tab>contentorconfig</tab>
		<sort_order>30</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>0</show_in_website>
		<show_in_store>0</show_in_store>

		<groups>
			<contentor_context_data translate="label" module="Contentor_LocalizationApi">
				<label>Context</label>
				<frontend_type>text</frontend_type>
				<sort_order>10</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>0</show_in_website>
				<show_in_store>0</show_in_store>

       			<fields>
       				<contentor_context_products_contextname>
       					<label>Product context name: </label>
						<comment></comment>
						<frontend_type>text</frontend_type>
						<sort_order>10</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>0</show_in_website>
						<show_in_store>0</show_in_store>
					</contentor_context_products_contextname>
					
					<contentor_context_products_context>
       					<label>Product context value: </label>
						<comment>If you want to add freetext context to all product requests, add default value here. This can be edited before send.</comment>
						<frontend_type>textarea</frontend_type>
						<sort_order>20</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>0</show_in_website>
						<show_in_store>0</show_in_store>
					</contentor_context_products_context>

					<contentor_context_categories_contextname>
       					<label>Category context name: </label>
						<comment></comment>
						<frontend_type>text</frontend_type>
						<sort_order>30</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>0</show_in_website>
						<show_in_store>0</show_in_store>
					</contentor_context_categories_contextname>

					<contentor_context_categories_context>
       					<label>Category context value: </label>
						<comment>If you want to add freetext context to all category requests, add default value here. This can be edited before send.</comment>
						<frontend_type>textarea</frontend_type>
						<sort_order>40</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>0</show_in_website>
						<show_in_store>0</show_in_store>
					</contentor_context_categories_context>

					<contentor_context_cmspages_contextname>
       					<label>CMS Page context name: </label>
						<comment></comment>
						<frontend_type>text</frontend_type>
						<sort_order>50</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>0</show_in_website>
						<show_in_store>0</show_in_store>
					</contentor_context_cmspages_contextname>
					
					<contentor_context_cmspages_context>
       					<label>CMS Page context value: </label>
						<comment>If you want to add freetext context to all CMS page requests, add default value here. This can be edited before send.</comment>
						<frontend_type>textarea</frontend_type>
						<sort_order>60</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>0</show_in_website>
						<show_in_store>0</show_in_store>
					</contentor_context_cmspages_context>
				</fields>
				
			</contentor_context_data>
			
			<contentor_context_hints translate="label" module="Contentor_LocalizationApi">
				<label>Hints</label>
				<frontend_type>text</frontend_type>
				<sort_order>20</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>0</show_in_website>
				<show_in_store>0</show_in_store>

       			<fields>

				</fields>
			</contentor_context_hints>
		</groups>
	</contentor_context>
	
</sections>
</config>